@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #394d3e;
  --primary: #394d3e;
  --card: #f3f4f6;
  --card-foreground: #394d3e;
}

:root[data-theme="dark"] {
  --background: #000000;
  --foreground: #8fba96;
  --primary: #8fba96;
  --card: #111111;
  --card-foreground: #8fba96;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}
